@use '../abstracts/mixins';
@use '../abstracts/variaveis';

.botao {

    &--sem-fundo {
        border: 1px solid rgb(167, 21, 21);
        color: variaveis.$vermelhoClaro;

        &:hover {
            color: white;
            background-color: variaveis.$vermelhoEscuro;
        }
    }
    
    &--com-fundo {
        color: white;
        background-color: variaveis.$vermelhoClaro;

        &:hover {
            color: white;
            background-color: variaveis.$vermelhoEscuro;
        }
    }
}

