@use '../abstracts/mixins';

.botao {

    &--busca {
        border: 1px solid rgb(167, 21, 21);
        color: rgb(185, 31, 31);

        &:hover {
            color: white;
            background-color: rgb(167, 29, 29);
        }
    }
    
    &--checkout {
        background-color: rgb(204, 27, 27);

        &:hover {
            background-color: rgb(228, 16, 16);
        }
    }

    &--carrinho {
        border: 1px solid rgb(204, 27, 27);
        border-radius: 10px;
        color: rgb(204, 27, 27);

        @include mixins.for-phone {
            margin: 1rem 0 !important;
        }

        &:hover {
            background-color: rgb(204, 27, 27);
            color: white;
        }
    }
}

