.botao-carrinho {
    background-color: none;
    border: 1px solid rgb(204, 27, 27);
    border-radius: 10px;
    color: rgb(204, 27, 27);
}

.botao-carrinho:hover {
    background-color: rgb(204, 27, 27);
    color: white;
}