.rede-social_item {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.rede-social_item:hover {
    transform: scale(1.1);
}

.instagram {
    color: rgb(235, 133, 150) ;
}

.facebook {
    color: blue;
}

.twitter {
    color: rgb(107, 228, 228);
}

.whatsapp {
    color: rgb(7, 194, 7);
}