.banner01{
    height: 400px;
    background: url('../img/beer-friends.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 120%;
}
.banner02{
    height: 400px;
    background: url('../img/cervejaria.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 40%;
}

@media screen and (max-width:679px) {
    .banner02{
        background-position: -80px -50px;
    }
}