body {
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}

figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: white;
    text-shadow: -2px 0px 0px gray;
    text-align: center;
}

figcaption span{
    color: black;
    text-shadow: none;
    text-transform: uppercase;
    background-color: red;
    padding: 2px;
    border-radius: 5px;
}