.home-banner__img{
    height: 100%;
    object-fit: cover;
    object-position: 0 70%;
    width: 100%;
}

@media screen and (max-width:767px) {
    .home-banner__img{
        object-position: center;
    }
}