.produtos_titulo:hover {
    text-decoration: underline;
}

.produto_botao-add-carrinho {
    border: 1px solid rgb(204, 27, 27);
    border-radius: 10px;
    background-color: none;
    color: rgb(204, 27, 27);
}

.produto_botao-add-carrinho:hover {
    background-color: rgb(204, 27, 27);
    color: white;
}